.grid-container{
  background-color: black;
  display: grid;
  gap: 15px;
  grid-template-columns: min-content min-content min-content;
  padding: 100px;
  height: 650px;
  
}
.grid-container>div{
  height: 300px;
  width:250px;
  text-align: center;
  padding: 20px;
  position: relative;
  left:100%;
  bottom : -30%;
  border-color:  black;
  
  }
.Main_Window > h3{
text-align: center;
position: relative;
bottom:80px;
left : 20px;
margin:20px;
border:3px solid black;
border-radius: 10px;
border-style:double;
background-color:grey;
}
.Main_Window > img{
  height: 400px;
  width: 300px;
 
}